<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Name: {{employee.name}}</mat-card-title>
    <mat-card-subtitle>Address: {{employee.address}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <hr>
      <div style="background: #f5f6fa; padding: 15px;border-radius: 6px;">
        <mat-list role="list">
          <mat-list-item role="listitem">Birth date: {{employee.birthDate}}</mat-list-item>
          <mat-list-item role="listitem">Hiring date: {{employee.hiringDate}}</mat-list-item>
          <mat-list-item role="listitem" color="accent">Salary: {{employee.salary}}</mat-list-item>
        </mat-list>
      </div>
    <hr>
    <div style="background-color: #ecf0f1; padding: 15px;border-radius: 6px;">
    <mat-list>
      <div mat-subheader>Phones</div>
      <mat-list-item *ngFor="let phone of employeePhones">
        <mat-icon mat-list-icon>phone</mat-icon>
        <div mat-line>{{phone.phone}} </div>
        <i class="fas fa-edit" style="cursor: pointer; color: cadetblue; margin-right: 15px;" (click)="editPhoone(phone.id)"></i>
        <i class="fas fa-trash-alt" style="cursor: pointer; color: #c0392b;" (click)="deletePhoone(phone.id)"></i>
      </mat-list-item>
      </mat-list>
      </div>
      <hr>
      <div style="background-color: #dcdde1; padding: 15px;border-radius: 6px; color: rgba(0,0,0,.54);">
        <mat-list>
          <div mat-subheader>Projects</div>
          <mat-list-item *ngFor="let pro of projects">
            <mat-icon mat-list-icon>model_training</mat-icon>
            <div mat-line>{{pro.name}} </div>
            <i class="fas fa-eye-slash" style="cursor: pointer; color: #8e44ad; margin-right: 15px;"
            [routerLink]="['/dashbaord/display-project-employee/', pro.id]"></i>
            <i class="fas fa-trash-alt" style="cursor: pointer; color: #c0392b;"
            (click)="deleteProjectFromEmployee(employee.id, pro.id)"></i>
          </mat-list-item>
          </mat-list>
       </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="addProjectToEmployee(employee.id)">Add project</button>
    <button mat-button color="primary" (click)="addPhone(employee.id)">Add phone</button>
    <button mat-button mat-button color="accent" (click)="editEmployee(employee.id)">Update</button>
    <button mat-button color="warn" (click)="deleteEmployee(employee.id)">Delete</button>
  </mat-card-actions>
</mat-card>
