#applicationName {
  font-size: 22px;
  font-weight: bold;
}
.root {
  width: 100%;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 4px;
  display: block;
}
a {
  font-family: initial;
  color: #2f3542;
  text-decoration: none;
}
#mat-icon-plus {
  color: #666a6c;
  font-size: 24px;
  margin-top: 4px;
}
.root:hover {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

#chevronIcon {
  cursor: pointer;
}
.panel-danger {
  border-radius: 0 !important;
  border-bottom: none;
}
.panel-body {
  padding: 0 10px;
  padding-bottom: 20px;
  border-bottom: none;
}
@media screen and (max-width: 767px) {
  .panel-body,
  .panel-danger  {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}
#btnApplicationInfo {
  float: right;
  padding: 3px 6px 1px;
}
.linkActive {
  background-color: #f2dede !important;
  padding: 2px 10px 0 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #a94442 !important;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.mat-tree-node {
  margin-bottom: -20px;
}
.vl {
  border-left: 1px solid #f2dede;
  height: 589px;
  float: right;
  margin-top: -20px;
}
@media screen and (max-width: 767px) {
  #border-left  {
    border-left: 1px solid #f2dede;
  }
}
@media screen and (max-width: 967px) {
  #border-left  {
    border-left: 1px solid #f2dede;
  }
}
